.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
}

.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: #e5e5e5;
}

h1 {
  color: #03004e;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url("https://image.shutterstock.com/z/stock-photo-ratingen-germany-june-closeup-studio-shot-of-credit-cards-issued-by-the-three-major-169493330.jpg");
}

.formulario {
  text-align: center;
  margin: 350px;
  line-height: 25px;
  font-size: 15px;
  padding: 10px;
  background: #ddd;
  flex-direction: column;
}

.box {
  text-align: center;
  border: 2px solid black;
  width: 40%;
  height: 30px;
  background-color: whitesmoke;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: #e5e5e5;
}

.button {
  margin: 5px;
  width: 150px;
  text-align: center;
  border: 2px solid;
  background: #ff9a03;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: #03004e;
  font-size: 15px;
  display:inline-block;
}

.ocultarDiv {
  display: none;
}

.mostrarDiv {
  display: block;
}
