  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: repeat(4, 1fr);

    grid-column-gap: 10px;
    grid-row-gap: 10px;

    background-color: blueviolet;
    padding: 10px;

    justify-content: center;
    height: 100vh;

  }

  .formulario {
    border: 1px solid red;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 80px 200px;
    image
  }

  .numeros {
    border: 1px solid red;
    grid-column-start: 2;
    grid-column-end: 3;
  }



  h1 {
    color: rgba(112, 108, 124, 0.753);
  }

  body {
    font-family: sans-serif;
    background-image: url('https://thumbs.dreamstime.com/z/pila-del-primer-de-tarjetas-de-cr%C3%A9dito-visa-y-mastercard-cr%C3%A9dito-debe-y-electr%C3%B3nico-aislado-en-el-fondo-blanco-con-la-95474089.jpg');
  }

  .ocultarDiv {
    display: none;
  }

  .mostrarDiv {
    display: block;
  }
